html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: white;
}

/* dashboard */

/* login page */

.login {
  color: var(--dark);
  width: 100%;
  border: 2px solid var(--dark);
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 3px 3px 3px var(--soft);
  background-color: var(--soft);
}

.login-title {
  margin-left: 530px;
  font-size: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
  }
}

.login-heading {
  color: var(--dark);
  text-align: center;
  font-size: 30px;
  margin-bottom: 16px;
}

.login-btn {
  margin-left: 480px !important;
}

/* nav bar */

.logout-btn {
  background: transparent !important;
  border: none !important;
}

.user-id {
  font-size: 12px;
}

.nav-text {
  color: black !important;
}

/* question */

.card {
  width: 18rem !important;
  margin: 16px 20px;
}

.leaderboard {
  margin: 24px 200px !important;
}

.option-question {
  margin: 20px 0 !important;
}
